super,sku,marca,producto,pvp_sugerido
todos,,Sarubbi,Jamon Cocido Sarubbi 200 g,
todos,,Sarubbi,Panchos Sarubbi x 6,
todos,,Sarubbi,Salame Sarubbi feteado 100 g,
todos,,Sarubbi,Mortadela Sarubbi 250 g,
