cadena,producto,precio,precio_lista,url
frog,Sarubbi Jamon Cocido 200 g,,,
macromercado,Schneck Panchos x 6,,,
kinko,Picorel Salame feteado 100 g,,,
elvencedor,Ottonello Mortadela 250 g,,,
manual,Camposur Hamburguesas x 4,,,
